<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pop Deng</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="game-container">
        <h1>Pop Deng Jubu</h1>
        <img id="moodeng" src="static/images/deng_closed.jpg" alt="Pop Deng" onclick="popDeng()">
        <p>Score: <span id="score">0</span></p>
        <audio id="pop-sound" src="static/sounds/pop_sound.mp3"></audio>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>